:root {
  --main-color: #0A4845;
  --border-radius: 4px;
  --secondary-color: #F4FEFD;
}

* {
  box-sizing: border-box;
}

html,
body {

  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  display: block;
}


.project {
  padding: 30px;
}

.project__body {

  margin: 0px auto;
}

.project__header {}

.project__link {
  text-align: center;
}

.project__title {
  margin: 0px 0px 50px 0px;
}

.title-project {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 85px;
  position: relative;
  color: #000000;


}

.project__subtitle {
  margin: 30px 0px 30px 0px;
}

.project__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 1rem;
  max-width: 1200px;
}

@media (max-width: 680px) {
  .project__row {
    grid-template-columns: repeat(1, 1fr);
  }

  .item-project__image {

    height: auto;

  }

  .project__columns {
    height: auto;
  }


}

@media (min-width: 680px) {
  .project__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__columns {
    max-width: 100%;
  }

  .item-project__image {

    height: 50vh;

  }
}

.subtitle-project {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
}

.item-project {}

.item-project__text {

  padding: 0px 0px 30px 0px;
}

.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--main-color);
}


.item-project__image {
  width: 100%;
  overflow: hidden;
  align-items: center;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.image {
  margin: 20px;
  width: initial;
  height: auto;
  max-width: 100%;

}

.item-project__button {

  padding: 20px 0px 30px 0px;

}

.button {

  padding: 10px 20px;
  border: 3px solid var(--main-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
}

a {
  text-decoration: none;

}

a:hover {
  cursor: pointer;

}